.search-form {
  display: flex;
  flex-direction: column;

  &__text-input,
  &__options-select,
  &__search-button {
    display: flex;
    width: 70%;
    margin: 1rem auto;
  }

  &__options-select {
    @media screen and (max-width: 767px) {
      flex-direction: column;
    }
  }

  &__options-select > div {
    flex: 1;

    &:first-of-type {
      margin-right: 1rem;

      @media screen and (max-width: 767px) {
        margin-right: 0;
        margin-bottom: 1rem;
      }
    }
  }

  &__search-button {
    justify-content: center;
  }
}
