.load-more-button {
  display: none;
  margin: 2rem auto;
  padding: 1rem 2rem;
  border: none;
  font-weight: bold;
  letter-spacing: 0.1rem;
  border-radius: $border-radius--large;
  background-color: rgba(royalblue, 0.8);
  color: #fff;
  cursor: pointer;

  &--shown {
    display: block;
  }

  &:disabled {
    opacity: 0.5;
    background-color: #777;
    cursor: not-allowed;
  }
}
